@inherits LayoutComponentBase
@layout NavbarLayout
<div>
    <header>
        <h1>ExerciseLayout1 Header</h1>
    </header>

    @Body

    <footer>
        <p>ExerciseLayout1 Footer</p>
    </footer>
</div>
@code {

}
