@inherits LayoutComponentBase
@layout MainLayout
<div>
    <h3>NavbarLayout</h3>

    <NavLink class="fw-bolder" href="/exercise1">Exercise Page 1</NavLink>
    <NavLink class="fw-bolder" href="/exercise2">Exercise Page 2</NavLink>

    @Body
</div>