@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. Here is our new component:
<ExampleRazorComponent />
<ExampleCodeBehind />
<ExampleExpressions />
<ExampleParentComponent />
<ExampleComplexParameters />
